{% block body %}
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">Numéro réserv.</th>
                <th scope="col">Établissement</th>
                <th scope="col">Suite</th>
                <th scope="col">Début</th>
                <th scope="col">Fin</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <th scope="row">{{ reservation.id }}</th>
                    <td>{{ reservation.getSuite().getIdEtablissement() }}</td>
                    <td>{{ reservation.getSuite().getTitre() }}</td>
                    <td>{{ reservation.dateDebut|date('d/m/Y') }}</td>
                    <td>{{ reservation.dateFin|date('d/m/Y') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
