{% extends 'base.html.twig' %}

{% block title %}Hello EtablissementController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-10" style="height: 700px">
                <div class="card mb-3 _custom-card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ asset('uploads/etablissement/images/' ~ etablissement.image) }}" class="img-fluid rounded-start card-img">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ etablissement.nom }}</h5>
                                <p class="card-text">{{ etablissement.adresse }} - {{ etablissement.ville }} - {{ etablissement.codePostal }}</p>
                                <p class="card-text"><small class="text-body-secondary">{{ etablissement.description }}</small></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{ block('body', 'suite/suites.html.twig') }}
    <style>
        ._custom-card {
            height: 100%;
        }
        ._card-img {
            height: 100%;
        }
    </style>
{% endblock %}