{% extends 'base.html.twig' %}

{% block title %}Hello EtablissementController!{% endblock %}

{% block body %}
    <div class="container">
        {% for etablissement in etablissements %}
            <div class="row justify-content-center mt-3">
                <div class="col-md-8">
                    <a href="{{ path('app_etablissement', {'id': etablissement.id}) }}" class="div-link">
                        <div class="card mb-3 custom-opacity div-link border-0">
                            <div class="row g-0">
                                <div class="col-md-4 d-flex align-items-center">
                                    <img src="{{ asset('uploads/etablissement/images/' ~ etablissement.image) }}" class="img-fluid rounded-start">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title etab-nom">{{ etablissement.nom }}</h5>
                                        <p class="card-text etab-adresse">{{ etablissement.adresse }} - {{ etablissement.ville }} - {{ etablissement.codePostal }}</p>
                                        <p class="card-text">{{ etablissement.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
